logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
node_modules/
typings/
*.tsbuildinfo
.npm
.eslintcache
.env
.env.test
.DS_Store
.vscode
.idea
.umi

dumi/.umi/
dumi/.umi-production/
dumi/dist/

dist/
lib/

.pnpm-lock.yaml